{% extends 'base.html' %}

{% block content %}

    <div class="container" id="banner-main">
        <div class="jumbotron">
            <address>
                <strong>Lojinha</strong><br>
                Rua das Lojinhas, 01, Vila das Lojinhas <br>
                São Paulo, SP <br>
                Tel: (11) 1234-5678
            </address>
            <address>
                Email: <a href="mailto:lucaspolo@lucaspolo.com.br">lucaspolo@lucaspolo.com.br</a>
            </address>
        </div>
    </div>

{% endblock content %}